.brdr{
    width: 270px;
    height: 1px;
    background-color: #a8a8a83d;
}
.brdr2{
    width: 80px;
    height: 1px;
    background-color: #a8a8a83d;
}
.trend p{
    color: #949cb0;
    font-size: 15px;
}
.vote{
    background-color: #24baef;
    padding: 5px;
    top: -18px;
    right: 5px;
}
input[type=text] {
    color: #24baef;
    padding: 12px 20px;
    margin: 8px 0;
  
  }
  .image{
      cursor: pointer;
  }
  
  .tv,.movie {
    transition: 1s all;
}

.tv:hover, .movie:hover {
    transform: scale(0.95, 0.95);
}