
    <div class="text-center  noxe ">
        <div class=" d-flex align-items-end justify-content-center position-relative" >
            <h3>n</h3>
            <h2>NOXE</h2>
        </div>
        <h4 class="tex  "> (trending Movies and Tvs for free)</h4>
    </div>

<div class="container  py-5">
    <h2 class=" mb-2 text-muted">Let's talk <span class="font-weight-bolder text-info font-italic  element "> </span> !
    </h2>
    <div class="row ">
        <div class="col-md-12 py-3 ">
            <h4 class=" overview1 ml-4">The Noxe is a community built movie and TV database. Every piece of data has been
                added
                by our amazing community dating back to 2008. noxe's strong international focus and breadth of data is
                largely unmatched and something we're incredibly proud of. Put simply, we live and breathe community and
                that's precisely what makes us different.</h4>
        </div>
        <div class="col-md-12 my-5 ">
            <h3 class="mb-3 text-muted">The NOXE <span class="text-info font-weight-bolder element2"></span> : </h3>
            <div class="ml-4">
            <h6 class="overview2"> <span class="font-weight-bold text-info"> 1 - </span>
                Every year since 2008, the number of contributions to our database has increased. With over 400,000
                developers and companies using our platform, TMDb has become a premiere source for metadata.</h6>

            <h6 class="overview2"> <span class="font-weight-bold text-info"> 2 - </span>
                Along with extensive metadata for movies, TV shows and people, we also offer one of the best
                selections
                of high resolution posters and fanart. On average, over 1,000 images are added every single day.
            </h6>

            <h6 class="overview2"> <span class="font-weight-bold text-info"> 3 - </span>
                We're international. While we officially support 39 languages we also have extensive regional data.
                Every single day NOXE is used in over 180 countries.</h6>

            <h6 class="overview2"> <span class="font-weight-bold text-info"> 4 - </span>
                Our community is second to none. Between our staff and community moderators, we're always here to
                help.
                We're passionate about making sure your experience on Noxe is nothing short of amazing.</h6>

            <h6 class="overview2"> <span class="font-weight-bold text-info"> 5 - </span>
                Trusted platform. Every single day our service is used by millions of people while we process over 3
                billion requests. We've proven for years that this is a service that can be trusted and relied on.
            </h6>
            </div>
        </div>
    </div>
</div>