
<div class="w-75 m-auto pt-5">
    <input class="form-control " [(ngModel)]='term' type="text" placeholder="Search tv name">
</div>

<div class="row d-flex justify-content-center pt-5 text-center">
    <div class="col-md-6">
        <pagination-controls (pageChange)="page = $event" responsive="true" (pageChange)="handlePageChanged($event)"></pagination-controls>
    </div>
</div>



<div class="row mt-3">
    <div  class="col-md-3 my-3" *ngFor="let tv of trendingTvs|search:term|paginate: { itemsPerPage: 1, currentPage: page, totalItems:500 }; let i = index">
        <div  class="tv">
            <img [routerLink]="['/tvdetails', tv.id]" class="image w-100 mb-2" [src]="imgPrefix+tv.poster_path" alt="">
            <h3 [routerLink]="['/tvdetails', tv.id]" class="h6 image">{{tv.name}}</h3>
            <div class="vote position-absolute">{{tv.vote_average}}</div>
        </div>
    </div>
</div>


<div class="row d-flex justify-content-center py-3 text-center">
    <div class="col-md-6">
        <pagination-controls (pageChange)="page = $event" responsive="true" (pageChange)="handlePageChanged($event)"></pagination-controls>
    </div>
</div>
